:root{
  --color1: rgb(219,144,.5);
  --color2: rgba(23, 180, 83, 0.877);
  --color3: rgba(11,194,211, 0.623);
  --fondo: #f2f2f2;
  --titulos: 26.4px;
  --margenes: 48px;
  --espacios: 8px;
  --espacios-contenido:36px;
  --espacios-contenido-text:8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'open sans';
  background: var(--fondo);
}

img{
  vertical-align: top;
}


/* Preloader */
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 51.2px;
  height: 51.2px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 4.8px;
  width: 10.4px;
  background: #cef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 4.8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 20.8px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 36px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 4.8px;
    height: 40.8px;
  }

  50%,
  100% {
    top: 15.2px;
    height: 20.8px;
  }
}

/* Header */

header{
  width: 100%;
  height: 480px;
  background: /*linear-gradient(to bottom,rgba(211,135,20, .6),
  rgba(29,241,171, .6),
  rgba(7,109,150, .45)
  ),*/ url(img/fondo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.5)
}

.nav1{
  background: transparent;
  height: 64px;
  color:#fff;
}

.nav2{
  background: var(--fondo);
  height:80px;
  color:#000;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width:800px;
  height:inherit;
  overflow: hidden;
}

nav .enlaces a{
  display: inline-block;
  padding: 4px 0;
  margin-right: 13.6px;
  font-size: 13.6px;
  font-weight: 240;
  text-decoration: none;
  border-bottom: 2.4px solid transparent;
  color: inherit;
}

nav .enlaces a:hover{
  border-bottom: 2.4px solid #1498a4;
  transition: 0.6s;
}

nav .enlaces a li{
  display: inline-block;
  padding: 4px 0;
  margin-right: 13.6px;
  font-size: 13.6px;
  font-weight: 240;
  text-decoration: none;
  border-bottom: 2.4px solid transparent;
  color: inherit;
}



.logo, .logo img{ height:56px;}

.icono{
  display:none;
  font-size: 19.2px;
  padding: 18.8px 16px;
}

.logo2, .logo2 img{ height:136px;}

.icono{
  display:none;
  font-size: 19.2px;
  padding: 18.8px 16px;
}

.textos{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 4.8px rgb(51, 255, 0);
  color:rgb(255, 255, 255);      /*prueba 17/09/21*/
  overflow:visible;
  text-align: center;
}

/*.text_sombra{
  text-shadow: 10px 10px 10px 10px rgb(255, 255, 255);      /*agregdo 17/09/21
}*/

.textos>h1{font-size:64px;;}

.textos>h2{font-size: 24px; font-weight: 240;}

/* Main */

.contenedor_facebook{
  top: 80px;
  left: 0px;
  width: 260px;
  height: 610px;
  position: fixed;

}

.contenedor_instagram{
  top: 80px;
  right: 45px;
  width: 254px;
  height: 600px;
  position: fixed;

}

.image_equipo{
  background-image: url(img/teclado.jpg);
}

.contenedor{
  margin:auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 800px;
  text-align: center;
  overflow: hidden;
}

.contenedor h3{
  font-size: var(--titulos);
  color: var(--color2);
  margin-bottom: var(--espacios);
}

.contenedor p{
  font-size: var(--subtitulos);
  font-weight: 240;
  color: var(--color2);
}

.after2::after{
  content:'';
  display: block;
  margin:auto;
  margin-top: var(--espacios);
  width: 40px;
  height: 1.6px;
  background: var(--color2);
  margin-bottom: var(--espacios-contenido-text);
}

.after::after{
  content:'';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 80px;
  height: 1.6px;
  background: var(--color2);
  margin-bottom: var(--espacios-contenido);
}

.card_conoce{             /*agregado 17/09/21*/
  display:flex;      /*agregado 17/09/21*/
  justify-content: space-around;   /*agregado 17/09/21*/
  flex-wrap:wrap;   /*gregado 17/09/21*/
}

.card_conoce2{             /*agregado 17/09/21*/
  display:flex;      /*agregado 17/09/21*/
  justify-content: space-around;   /*agregado 17/09/21*/
  flex-wrap:wrap;   /*gregado 17/09/21*/
}

.content-card_conoce{       /*agregado 17/09/21*/
  width: 50%;
  box-shadow: 0 0 4.8px 0 rgba(0, 221, 11, 0.5);
  overflow: hidden;
  height: 260px;
}

.content-card_conoce2{       /*agregado 19/09/21*/
  width: 100%;
  box-shadow: 0 0 4.8px 0 rgba(0, 221, 11, 0.5);
  overflow: hidden;
  height: 100px;
}

.title_conoce{
  height: 20%;
}

.texto-team_conoce{
  height: auto;
  width: auto;
  padding: var(--espacios) 0;
}

.card{
  display: flex;        /*pruebas 17/09/21*/
  justify-content: space-around;   /*pruebas 17/09/21*/
  flex-wrap: wrap;     /*pruebas 17/09/21*/
}

.content-card{
  width: 31%;           /*pruebas 17/09/21*/
  box-shadow: 0 0 4.8px 0 rgba(0, 221, 11, 0.5);  /*pruebas 17/09/21*/
  overflow: hidden;           /*pruebas 17/09/21*/
  height: 400px;             /*pruebas 17/09/21*/
}

.people{
  height: 80%;
}

.content-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-team{
  height: 20%;
  width: 100%;
  padding: var(--espacios) 0;
}

.about{
  background: url(img/teclado.jpg);
  height: auto;
}

.servicios{
  display: flex;
  color:#fff;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.caja-servicios{
  width: 30%;
  margin: auto;
  text-align: center;
}
.caja-servicios>h4{
  margin-bottom: var(--espacios);
}

.caja-servicios>p{
  text-align: center;
}
.Conocenos{
  margin:auto;
  padding: var(--margenes) 0;
  width: 100%;
  max-width: 800px;
  text-align: center;
  overflow: hidden;
}

.Conocenos h4{
  font-size: 23px;
  color: var(--color2);
  margin-bottom: 0;
  padding-top: 10px;
}

.Conocenos h3{
  font-size: var(--titulos);
  color: var(--color2);
  margin-bottom: var(--espacios);
}

.Conocenos p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color2);
  text-align:justify;
  padding-inline: 13px;
  margin-bottom: 10px;
}

.Conocenos h5{
  text-align: center;
  color: var(--color2);
  font-size: var(--subtitulos);
  margin-bottom: var(--espacios);
  padding: 10px;
}

.Conocenos{                                                              /*agregado 15/09/21*/
  width: 100%;                                                        /*agregado 15/09/21*/
  height: 2000px;                                                       /*agregado 15/09/21*/
  /*background: linear-gradient(to bottom,rgba(211,135,20, .6),       
  rgba(29,241,171, .6),                                             
  rgba(7,109,150, .45)                                              
  ), url(img/mision.jpg);*/                                             /*agregado 15/09/21*/
  background-attachment: fixed;                                       /*agregado 15/09/21*/
  background-position: center;                                        /*agregado 15/09/21*/
  background-size: cover;                                             /*agregado 15/09/21*/
}                                                                     /*agregado 15/09/21*/

.publicaciones{
  /*margin:auto;*/
  /*padding: var(--margenes) 0;*/
  width: 255px;
  max-width: 100%;
  /*text-align: center;*/
  overflow: hidden;
}
.publicaciones h3{
  font-size: var(--titulos);
  font-family: Klavika;
  color: var(--color2);
  margin-bottom: var(--espacios);
}

.publicaciones p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color2);
}

.ubica_conocenos{
  margin:auto;
  padding: var(--margenes) 0;
  width: 100%;
  max-width: 750px;
  max-height: 700px;
  text-align: center;
  overflow: hidden;
}

.ubica{
  margin:auto;
  padding: var(--margenes) 0;
  width: 100%;
  max-width: 840px;
  text-align: center;
  overflow: hidden;
}
.ubica h3{
  font-size: var(--titulos);
  color: var(--color2);
  margin-bottom: var(--espacios);
}

.ubica p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color2);
}


.botones-work{
  overflow: hidden;
}

.botones-work li{
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);
  margin-bottom: var(--espacios-contenido);
  padding: 6px 12px;
  border: 1px solid var(--color1);
  list-style: none;
  color: var(--color1);
}

.botones-work li:hover{
  background: var(--color1);
  color:#fff;
  cursor: pointer;
}

.botones-work .active{
  background: var(--color1);
  color:#fff;
}

.galeria-work{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cont-work{
  width: 31%;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
  height:300px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
}

.img-work{
  height: 90%;
  width: 100%;
}

.img-work img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textos-work{
  height: 10%;
}

.textos-work h4{
  line-height: 30px;
  font-weight: 300;
}

/* Footer */

footer{background:url(img/teclado.jpg);}

.marca-logo{
  width: 50%;
  margin: auto;
  margin-bottom: var(--espacios);
}
.marca-logo img{
  width: 50%;
}

.iconos{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 100%;
}



.fab{
  font-size:48px;
  color: #FFF;
  margin-bottom: var(--espacios);
  display: inline-block;
}

footer p{
  margin-top:var(--espacios);
}

@media screen and (max-width: 700px){
  .nav2{
    color: #fff;
  }

  .icono{
    display:block;
    cursor: pointer;
  }

  .enlaces{
    position: fixed;
    top:80px;
    background: #2c3e50;
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
  }

  .enlaces a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background: #34495e;
    color:#fff;
  }

  .textos>h1{font-size: 56px;}
  .textos>h2{font-size:28px;}

  .content-card{
    width: 48%;     /*pruebas 17/09/21*/
    margin-bottom:var(--margenes);
  }

  :root{
    --margenes: 30px;
  }
}

@media screen and (max-width: 500px){
  :root{
    --espacios-contenido: 25px;
  }

  .content-card{
    width: 90%;
  }

  .caja-servicios{
    width: 90%;
    margin-bottom: var(--margenes);
  }

  .cont-work{
    width: 85%;
  }

  .marca-logo{
    width: 80%;
  }

  .iconos{
    margin: auto;
  }





}